@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* :root {
  --bg-main: #06171F;
  --primary: #C58961;
  --text-light: #E7D6AC;
  --text-dark: #0E171E;
} */

/* Reset básico para garantir que o layout ocupe a tela toda sem barras estranhas */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #06171F;
  color: #E7D6AC;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; /* Impede quebra lateral */
}

#app {
  width: 100%;
}